@model TournamentBracket.Models.Tournament

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeLosersBracket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeLosersBracket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Participants)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Participants != null && Model.Participants.Any())
            {
                    @foreach(var participant in Model.Participants)
                    {
                        <div class="participant">
                            @participant
                        </div>

                    }
                
            }    
           
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
